.forecast-container {
  width: 90%;
  margin: 50px auto;
  color: dimgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.forecast-block {
  width: 150px;
  margin: 10px 5px;
  padding: 20px 10px;
  border: 2px solid steelblue;
  border-radius: 7px;
  box-shadow: 0 0 5px 3px dimgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.forecast-block:hover {
  transform: translate(10px, 15px);
}

.forecast-week-day {
  color: steelblue;
  font-weight: bolder;
  text-shadow: 1px 1px black;
}

.forecast-date {
  padding-top: 10px;
}

.forecast-temperature {
  font-size: 30px;
}

.forecast-description {
  padding-top: 10px;
}

.weather-five-days-spinner {
  margin-top: 100px;
}