.header-container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: MediumSeaGreen;
  text-shadow: 1px 1px 2px black;
}

.header-options-block {
  min-width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-control {
  max-width: 50%;
  margin: 5px 0;
}

.btn {
  margin: 5px;
}

